*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
}

/* Letter Size editor page */
.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  border-radius: 8px;
  box-shadow: 0 0 5px, 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 0.5in;
  margin: 1rem auto;
}

/* centers the editor page */
.container .ql-container.ql-snow {
  display: flex;
  justify-content: center;
}

/* Keep the toolbar sticky and overlays ontop of editor page */
.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d6d6;
  position: sticky;
  top: 0;
  z-index: 1;
}

.ql-toolbar.ql-snow .ql-formats {
  margin: 0;
  padding: 0;
  display: flex;
}

.ql-toolbar .ql-formats button,
.ql-toolbar .ql-formats select {
  margin: 0 5px;
  padding: 5px;
}

.errorMessage {
  color: red;
  font-weight: bold;
}
