.login {
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; /*rounded corners*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    /* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginTitle {
    color: #333;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginInput {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.loginInput:focus {
    border-color: #21568e;
    outline: none;
}

.loginButton {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 50%;
    min-width: 100px;
    background-color: #3e6d9e;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: #2c5076;
}

.loginText {
    margin-top: 10px;
    text-align: center;
    color: #666;
}

.loginLink {
    color: #3e6d9e;
    text-decoration: none; /*removes the underline*/
    margin-top: 10px;
}

.loginLink:hover {
    text-decoration: underline;
}

.loginError {
    margin-top: 10px;
    color: red;
}